.rating {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #333;
}

.starFilled {
  fill: #ffc531; /* Figma: --rating */
  width: 16px;
  height: 16px;
}

.starEmpty {
  fill: #ddd;
  width: 16px;
  height: 16px;
}

.rating span {
  margin-left: 5px;
}
