.rating {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: var(--text);
}

.star {
  width: 16px;
  height: 16px;
  margin-right: 2px; /* Adjust spacing between stars */
  fill: var(--gray-light); /* Default color for empty stars */
}

.starFilled {
  fill: var(--rating); /* Figma: --rating */
}

.rating span {
  margin-left: 5px;
}
