.home {
  background-color: var(--white);
  font-family: var(--base-font-family);
  overflow: hidden;
}

.heroSection {
  position: relative;
  height: 768px; /* Or your desired height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Place behind the content */
  filter: brightness(0.5); /* Darken the image */
}

.heroContent {
  position: relative;
  z-index: 2; /* Place above the image */
  color: var(--white);
  text-align: left;
  padding: 20px;
  max-width: 600px; /* Adjust as needed */
}

.heroTitle {
  font-size: 3rem; /* Adjust to match design */
  font-weight: 600;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.5rem; /* Adjust to match design */
  font-weight: 600;
  margin-bottom: 2rem;
}

/* You can add more styles for smaller screens using media queries */
@media (max-width: 768px) {
  .heroTitle {
    font-size: 2.5rem;
  }

  .heroSubtitle {
    font-size: 1.2rem;
  }
}
